body{
    background-color: rgb(0, 0, 0);
    color:rgb(223, 223, 223);
    margin: 0;
}

    .header{
        background-color: rgb(34, 34, 34);
        padding: 1%;
        margin: 0%;
    }

    .box-welcome{
        display: flex;
        justify-content: center;
        position: relative;
        
        font-size: 50px;
        text-align: center;
    }

    .round-counter{
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 30px;
        margin-top: 20px;

    }

    .box-score{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        position: relative;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .selections{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        gap: 40px;
    }

        #player-selection{
            border: 2px red solid;
        }

        .player-questionMark, .computer-questionMark{
            font-size: 100px;
            
        }

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-top: 50px;
    }


        .btn{
            width: 200x;
            height: 200px;
            border-radius: 20px;
            padding: 50px;
            background-color: rgb(75, 75, 75);
            color: white;
        }

        .btn:hover{
            background-color: rgb(136, 136, 136);
        
        }

        .rock-pic, .paper-pic, .scissor-pic{
            width: 100px;
            height: 100px;
        }

.footer{
    background-color: rgb(34, 34, 34);   
}