body{
    background-color: black;
    color:rgb(223, 223, 223)
}

    .header{
        background-color: rgb(34, 34, 34);
        padding: 1%;
        margin: 0%;
    }

    .box-welcome{
        display: flex;
        justify-content: center;
        position: relative;
        top: 10px;
        font-size: 50px;
        text-align: center;
    }

    .round-counter{
        display: flex;
        justify-content: center;
        position: relative;
        top: 20px;
        font-size: 30px;

    }

    .box-score{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        position: relative;
        top: 30px;
        font-size: 30px;
    }


    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 200px;
        
    }

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }


        .rock-button, .paper-button, .scissor-button{
            width: 150px;
            height: 150px;
            border-radius: 20px;
            background-color: rgb(75, 75, 75);
            color: white;
        }

        .rock-button:hover, .paper-button:hover, .scissor-button:hover{
            background-color: rgb(136, 136, 136);
        
        }

        .rock-pic, .paper-pic, .scissor-pic{
            width: 30%;
            height: 40%;
        }